{% extends 'StudentPortal/base.html' %}
{% load static %}

{% block title %} {{class_detail.subject_name}} {% endblock title %}

{% block link %} <link rel="stylesheet" href="{% static './StudentPortal/css/stream.css' %}"> {% endblock link %}

{% block content %} 
    <section>
        <div id="stream">
            <div id="class-detail-container" class="bg-primary">
                <h4>
                    Subject Name: <span style="text-decoration: underline;">{{class_detail.subject_name}}</span>
                </h4>
                <h4>Class Name: <span style="text-decoration: underline;">{{class_detail.class_name}}</span></h4>
                <h4>Faculty Name: <span style="text-decoration: underline;">{{class_detail.teacher}}</span></h4>
            </div>
            
            <div id="announcement">
                <div id="user-profile-image">
                    <button class="btn border-0">
                        {% if student.student_profile_pic %}
                            <img  style="width: 50px; height: 50px; border-radius: 50%;" src="{{ student.student_profile_pic.url }}" alt="profile">
                        {% else %}
                            <img  style="width: 50px; height: 50px; border-radius: 50%;"
                            src="{% static './StudentPortal/images/user.png' %}"
                            alt="Profile"
                            />
                        {% endif %}
                    </button>
                </div>
                <div id="announcement-text">
                    Announce something to your class students
                </div>
            </div>
        </div>
    </section>
{% endblock content %}