{% extends 'TeacherPortal/base.html' %}
{% load static %}

{% block title %} Classwork {% endblock title %}

{% block link %} <link rel="stylesheet" href="{% static './TeacherPortal/css/classwork.css' %}"> {% endblock link %}

{% block content %}
    <section>
       <div id="classwork-container">
            <div id="assign-container">
                <div style="font-size: 2em; color:green;">
                    Classwork
                </div>
                <div>
                    <button id="assign-task-btn" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#assignWorkModal"><i class="fa fa-plus" style="color: white; "></i> Assign Task</button>
                </div>
            </div>
            {% for assignment in assignments %}
            <div id="show-assignment-conatiner">
              <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOne"></h2>
                    <button class="btn border-0 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      <div id="assignment-info-container" style="color: green;">
                        <i id="file-icon" class="fa fa-file-text-o"></i>
                        {{assignment.title}}
                      </div>
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      <a id="assignment-file-link" target="_blank" href="{{assignment.assignment_file.url}}">
                        <p>{{assignment.title}} | 
                          {{assignment.description}}
                        </p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
       </div>
    </section>
    <section>
        <div class="modal fade" id="assignWorkModal" tabindex="-1" aria-labelledby="assignWorkModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
              <div class="modal-content">
                <div class="modal-header">
                  <div id="jasg" class="modal-title" id="assignWorkModalLabel"><i id="file-icon" class="fa fa-file-text-o"></i>Assignment</div>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="modal-body" class="modal-body" style="background-color: #f8f9fa;">
                  <form id="assignment-form" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div id="form" >
                        <input type="text" name="title" id="" placeholder="Title">
                        <Textarea placeholder="Description" name="description"></Textarea>
                        <input type="file" name="assignment_file" accept=".pdf,.docx">
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <input name="assignment" type="submit" value="Assign" class="btn btn-primary" form="assignment-form">
                </div>
              </div>
            </div>
          </div>
    </section>
{% endblock content %}